$color : (
    main: #e91e63,
    main-light: lighten(#e91e63, 8%),
    temp : #000,
    tex : #fff, 
    mess : lighten(#9c27b0,10%),
    dark: rgb(44, 44, 44)
);

$desk1: 940px;
$desk2: 1000px;
@mixin  desk1 {
    @media (min-width: $desk1) {
        @content;
    }
}
@mixin  desk2 {
    @media (min-width: $desk2) {
        @content;
    }
}

@function color($name){
    @return map-get($color, $name);  
};

.right-cover{
    position: absolute;
    width: 260px;
    height: 100%;
    right: 0;

    @include desk1{
        right: 30px;
    }
    @include desk2{
        right: 70px;
    }

    .photo{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url("../images/im.jpeg");
        background-size: 100% 130%;
        background-position-y: -2px;
        margin-top: -50px;
        margin-left: 150px;
    }

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 40px;
        height: 40px;
        background: color(dark);
        margin-top: -50px;
        margin-left: 210px;
        border-radius: 50%;
    }
    .message-icon{
        font-size: 18px;
        color: #fff;
    }
}