.assign-par{
    overflow: hidden;
    position: absolute;
    width: 95%;
    height: 93%;
    margin-top: 65px; 
    margin-left: 2.5%;
    background: rgb(243, 243, 243);
    box-shadow: rgb(85, 85, 85) 1px 1px 30px 2px;

    .prev-assign{
        width: 100%;
        height: 81.7%;
        margin-top: 13%;
        // background: #000;

        .month-block{
            position: fixed;
            width: 8%;
            height: 100%;
            // background: #000;
            margin-left: 1%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .month-cover{
                width: 100%;
                height: 110px;
                // background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .month{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 52%;
                height: 72%;
                border-radius: 50%;
                border: #000 2px solid;
                font-family: "Alex Brush";
                font-size: 35px; 
                background: #9c27b0;
                // background: #4caf50;
                font-weight: bolder;
                color: #fff;
                margin-top: 210px;
            }

        }

    }
}
