.comp-assign-par{
    overflow-x: scroll;
    display: grid;
    grid-template-rows: repeat(1, 100%);
    grid-auto-flow: column;
    grid-auto-columns: 310px;
    grid-gap: 30px;
    width: 87%;
    height: 93%;
    margin-left: 11%;
    padding: 20px;
    // background: rgb(143, 142, 142);

    .assignment-cover{
        width: 100%;
        height: 80%;
        margin-top: 80px;
        background: #fff;
        border-radius: 10px;
        box-shadow: #000 1px 1px 20px 2px;

        .lang-photo{
            width: 100%;
            height: 40%;
            background-size: 100% 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .jsp{
            background-image: url("forjs.jpg");
        }
        .htmlp{
            background-image: url("forhtml.jpg");
        }
        .reactp{
            background-image: url("forreact.png");
        }
        .pythonp{
            background-image: url("forpython.jpg");
        }
        .cppp{
            background-image: url("forc++.jpg");
        }
        .angularp{
            background-image: url("forangular.jpg");
        }

        .star-rating{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 8%;
            margin-left: 15%;
            margin-top: 2%;
            // background: #000;

            .starr{
                font-size: 30px;
                color: #00bcd4;
                margin-left: 10px;
            }

        }

        .tex-b{
            font-size: 30px;
            color: rgba(0, 0, 0, 0.767);
            font-weight: bolder;
        }
        .task-tex{
            font-family: "Sofia";
            margin-top: 15px;
            font-size: 22px;
            line-height: 26px;
        }
        .view-details{
            display: inline-block;
            padding: 12px 20px;
            border: solid #e91e63 1px;
            margin-top: 50px;
            background: #e91e63;
            color: #fff;
            border-radius: 20px;
            box-shadow: #e91e6288 1px 5px 20px 3px;
            font-size: 14px;
        }
    }
    .assignment-cover:hover{
        transition: 0.8s;
        width: 102%;
        height: 84%;        
    }
}