$color : (
    main: #e91e63,
    main-light: lighten(#e91e63, 8%),
    temp : #000,
    tex : #fff 
);

@function color($name){
    @return map-get($color, $name);  
};

.head-container{
    position: fixed;
    width: 100%;
    height: 65px;
    background: color(main);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.377) 1px 1px 30px 2px;

    .tab-container{
        width: 55%;
        height: 100%;
        margin-left: 6%;
        // background: color(temp);

        .tabs{
            display: flex;
            height: 100%;
            flex-direction: row;
            justify-content: center;
            padding: 7px 2em;
            float: left;

            ul{
                list-style-type: none;
            }
            .tab{
                display: inline;
                width: 100px;
                height: 22px;
                color: color(tex);
                padding: 17px;                
                // background: color(temp);
            }
            .tab:hover{
                background: color(main-light);
            }
        }
    }
}