$desk1: 640px;
$desk2: 700px;
$desk3: 750px;
$desk4: 850px;
$desk5: 950px;
$desk6: 1055px;
$desk7: 1200px;
$desk8: 1853px;


@mixin desk1{
  @media (min-width: $desk1){
      @content;
  }
}
@mixin desk2{
  @media (min-width: $desk2){
      @content;
  }
}
@mixin desk3{
  @media (min-width: $desk3){
      @content;
  }
}
@mixin desk4{
  @media (min-width: $desk4){
      @content;
  }
}
@mixin desk5{
  @media (min-width: $desk5){
      @content;
  }
}
@mixin desk6{
  @media (min-width: $desk6){
      @content;
  }
}
@mixin desk7{
  @media (min-width: $desk7){
      @content;
  }
}
@mixin desk8{
  @media (min-width: $desk8){
      @content;
  }
}

.cross-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 140px;
  margin-left: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.397);
  cursor: pointer;
  z-index: 9;

  @include desk2{
    margin-top: 25%; 
    width: 45px;
    height: 45px;
  }
  @include desk5{
    width: 50px;
    height: 50px;
    margin-top: 18%; 
  }
  @include desk6{
    margin-top: 200px;
  }
  @include desk8{
    width: 65px;
    height: 65px;
  }
}
.cross {
position: absolute;
width: 2px;
height: 30px;
background: #fff;
transform-origin: 50%;
}
.c1{
  transform: rotate(45deg);
}
.c2{
  transform: rotate(135deg);
}


.new-task-par {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;

  // background: #000;
  background: rgba(0, 0, 0, 0.678);

  .new-task-cont {
    position: absolute;
    width: 100%;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 2px 2px 30px 3px;
    z-index: 4;
    text-align: center;

    @include desk2{
      width: 90%;
    }
    @include desk3{
      margin-top: 100px;
      height: 350px;
    }
    @include desk5{
      width: 80%;
      height: 39%;
    }
    @include desk7{
      width: 850px;
    }
    @include desk8{
      margin-top: 3%;
    }

    .new-today-task {
      display: flex;
      text-align: center;
      width: 100%;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.568);
      @include desk3{
        font-size: 28px; 
      }
      @include desk5{
        margin-left: 40%;
      }
    }

    .hint-box {
      width: 130px;
      height: 170px;
      margin-left: 5%;
      margin-top: 30px;
      background-image: url("../images/eyes.gif");
      background-size: 100% 100%;
      float: left;
      border: #e91e63 1px solid;

      @include desk1{
        width: 140px;
      }
      @include desk3{
        width: 160px;
        height: 190px; 
      }
      @include desk5{
        margin-left: 4%;
        margin-top: 30px;
        width: 170px;
        height: 210px;
      }
    }

    .new-task-name {
      width: 250px;
      margin-left: 65px;
      margin-top: 35px;
      font-size: 17px;
      font-weight: bolder;

      @include desk1{
        margin-left: 95px;
      }
      @include desk3{
        margin-left: 80px;
        font-size: 18px; 
      }
    }

    .new-task-desc {
      position: absolute;
      width: 60%;
      text-align: justify;
      margin-top: 15px;
      margin-left: 170px;
      color: rgb(61, 61, 61);
      line-height: 20px;
      font-size: 12px;

      @include desk1{
        margin-left: 195px;
      }
      @include desk2{
        width: 50%;
      }
      @include desk3{
        width: 63%;
          margin-left: 220px;
          font-size: 14px;
      }
      @include desk6{
        margin-top: 25px;
        width: 68%;
        font-size: 16px;
      }
    }

    .gen {
      width: 200px;
      margin-left: 65px;

      @include desk3{
        margin-left: 130px; 
      }

      .rating {
        margin-top: 90px;
        margin-left: 20px;
        font-size: 15px;
        text-align: left;
        color: rgba(0, 0, 0, 0.541);
        float: left;

        @include desk6{
          margin-top: 110px;
          font-size: 18px;
        }

        .rate {
          color: #000;
          font-weight: bolder;
        }
      }
      .language {
        position: absolute;
        margin-top: 90px;
        font-size: 15px;
        margin-left: 300px;
        color: rgba(0, 0, 0, 0.541);

        @include desk1{
          margin-left: 410px;
        }
        @include desk3{
          right: 2px;
        }
        @include desk6{
          margin-top: 110px;
          font-size: 18px;
        }

        .lang {
          color: #000;
          margin-right: 30px;
          font-weight: bolder;
        }
      }
    }
    .choose {
      position: absolute;
      display: inline-block;
      padding: 4px 6px;
      margin-top: 180px;
      font-size: 14px;
      left: 180px;
      border-radius: 25px;
      color: #fff;
      background: #e91e63;

      @include desk1{ 
        left: 200px;
      }
      @include desk3{
        margin-top: 210px;
        left: 230px; 
      }
      @include desk4{
        left: 260px;
      }
      @include desk5{
        padding: 7px 9px;
        margin-top: 230px;
        left: 290px;
      }
      @include desk6{
        left: 320px;
        padding: 9px 15px;
      }
    }
    .chosen-file {
      position: absolute;
      width: 130px;
      height: 16px;
      margin-left: 280px;
      margin-top: 185px;
      text-align: left;
      border-bottom: #e91e63 solid 1px;
      font-size: 12px;

      @include desk1{
        margin-left: 300px;
      }
      @include desk3{
        margin-top: 215px;
        margin-left: 330px; 
      }
      @include desk4{
        width: 160px;
        margin-left: 350px; 
      }
      @include desk5{
        width: 210px;
        margin-left: 390px;
        margin-top: 235px;
        font-size: 15px;
        height: 20px;
      }
      @include desk6{
        width: 230px;
        font-size: 18px;
        height: 25px;
        margin-left: 430px;
      }
    }
  }
}
